<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<span style="color:white">Pokemón home page.</span>

<button class="btn" type="button" name="button" id="add_new">+ Add New Pokemon</button>

<div id="add-new-pokemon" style="display: block">
  <form action="/pokemon" method="post" style="color:white">

    <label for="name">Name: </label>
    <input type="text" name="name" value="">

    <label for="trainer_id">Trainer: </label>
    <select class="" name="trainer_id">
      <% for (let i = 0; i < trainers.length; i++) { %>
        <option value="<%= trainers[i].id %>"><%=trainers[i].name %></option>
      <% } %>
    </select>

    <label for="cp">CP: </label>
    <input type="text" name="cp" value="">

    <input type="submit" name="" value="Add New Pokemon">

  </form>
</div>

<div class="my-pokemon-list" style="color: white; height: 100%; overflow-y: scroll;">
  <% for (let i = 0; i < pokemon.length; i++) { %>
    <div style="border: 1px solid grey">
      <p><b>POKEMON NAME: </b> <%= pokemon[i].pokemonName %> </p>
      <p><b>POKEMON CP: </b> <%= pokemon[i].cp %> </p>
        <p><b>IN GYM? </b> <%= pokemon[i].in_gym %> </p>
      <p><b>TRAINER: </b> <%= pokemon[i].trainerName %> </p>
      <a href="#">EDIT</a>
      <a href="#">DELETE</a>
    </div>
  <% } %>
</div>

<script type="text/javascript">
  var newPokemonForm = document.getElementById('add-new-pokemon');
  $(newPokemonForm).hide();

  var btn = document.getElementById("add_new");
  // var passedInData = '<%= //passedInData %>' ;
  btn.addEventListener("click", function(){
    $(newPokemonForm).slideDown('slow');
  })

</script>
