<%- contentFor('body') %>
<div class="center">
  <a class="btn" href="/gym/removeGym"> RESET GYM</a>
</div>


<h3 class="red-text center"><%= message %></h3>

<div class="center orange-text lighten-1 gym-form">
  <form class="" action="" method="post">

  <% if (battlingPokemon[0]) { %>
    <h2 id="player1" value="<%= battlingPokemon[0].cp %>"><%= battlingPokemon[0].name %></h2>
    <h2><img src="<%= battlingPokemon[0].battle_image_url %>" alt=""> VS
    <!-- </h1> -->
    <% if (battlingPokemon[1]) { %>
      <img src="<%= battlingPokemon[1].battle_image_url %>" alt=""></h2>
      <h2 id="player2" value="<%= battlingPokemon[1].cp %>"><%= battlingPokemon[1].name %></h2>
      <a id="battle" class="btn" href="/gym/battle">BATTLE!</a>
    <% } else { %>
    ???</h2>
      <label class="player teal-text" for="player2">Choose Player 2: </label>
      <select class="" name="player2">
        <% for (let i = 0; i < pokemon.length; i++) { %>
          <option value="<%= pokemon[i].id %>"><%= pokemon[i].name %></option>
        <% } %>
      </select>
      <input formaction="/gym/addToGym" type="submit" class="btn orange lighten-1" value="ADD TO GYM">
    <% } %>
  <% } else { %>
      <label class="player teal-text" for="player1"><b>Choose Pokemon 1:</b></label>
      <select class="player" name="player1">
        <% for (let i = 0; i < pokemon.length; i++) { %>
          <option value="<%= pokemon[i].id %>"><%= pokemon[i].name %></option>
        <% } %>
      </select>

      <label for=""></label>

      <label class="player teal-text" for="player2"><b>Choose Pokemon 2:</b></label>
      <select class="player" name="player2">
        <% for (let i = 0; i < pokemon.length; i++) { %>
          <option value="<%= pokemon[i].id %>"><%= pokemon[i].name %></option>
        <% } %>
      </select>
      <input formaction="/gym/addToGym" type="submit" class="btn orange lighten-1" value="ADD TO GYM">
    </form>

  <% } %>

</div>

<script type="text/javascript">
    $('select').material_select();
</script>
